.article {
  width: 60%;
  margin: 0 auto;
  align-items: baseline;
  height: 50vh;
  margin-top: 10vh;
}
.article > p {
  font-size: 18px;
}
.article .tags {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.article .tags span {
  margin-right: 10px;
  margin-top: 10px;
}
.divider {
  height: 1px;
  background-color: #bdc3c7;
  width: 100%;
  margin: 20px 0;
}
@media (min-width: 1199.98px) {
  .article {
    width: 50%;
  }
}
@media (max-width: 799.98px) {
  .article {
    width: 70%;
  }
}
