.comments .writing-box textarea {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
}

.comments .writing-box .response {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  cursor: pointer;
}
.comments .writing-box h4 {
  display: inline-block;
}

.comments .writing-box .response svg {
  width: 35px;
  height: 35px;
}
.comments .writing-box .response span {
  margin-left: 15px;
}
.hide {
  display: none !important;
}
.comment {
  padding: 25px 15px;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  margin-top: 25px;
}
.comment .comment-header {
  display: flex;
  align-items: center;
}
.comment .comment-header img {
  width: 35px;
}
.comment .comment-header span {
  margin-left: 15px;
  color: #27ae60;
  display: flex;
  align-items: center;
}
.comment .comment-body p {
  white-space: pre-wrap;
}
